version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - MONGODB_URL=mongodb+srv://RickL:COP4331@cluster0.rfuugai.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      - RESEND_API_KEY=re_WnQYMkae_5S9sz65hj8KZ9fwtgzQkUDk8
    command: npm run dev

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/frontend/src
      - ./shared/src:/app/shared/src
    environment:
      - VITE_API_URL=http://backend:5000
    depends_on:
      - backend
    command: npm run dev
